<html>
   <head>
      <style>
      div.form
      {
          display: block;
          text-align: center;
          padding-top: 30pt;
      }
      form
      {
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
          text-align: left;
      }   
      </style>
   </head>
   <body>
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <div class="form">
         <h1>IOT Platform Group 4</h1>
      </div>
      <div style="text-align:center">
		  <button onclick="location.href='dashboard/applications'">Current Applications</button>
      </div>
      <br>
      <br>
      <div style="text-align:center">
      	<button onclick="location.href='dashboard/container_status'">Status of Containers</button>
      </div>
   </body>
</html>
